{% extends "base.html" %}
{% block content %}
<h2>Add New Arrest</h2>
<form method="POST">
    <label>Arrest Key:</label><input name="arrest_key" class="form-control"><br>
    <label>Arrest Date (YYYY-MM-DD):</label><input name="arrest_date" class="form-control"><br>
    <label>Age Group:</label><input name="age_group" class="form-control"><br>
    <label>Sex:</label><input name="sex" class="form-control"><br>
    <label>Race:</label><input name="race" class="form-control"><br>
    <label>Charge Description (pd_desc):</label><input name="pd_desc" class="form-control"><br>
    <label>Offense Description (ofns_desc):</label><input name="ofns_desc" class="form-control"><br>
    <label>Law Category:</label><input name="law_cat_cd" class="form-control"><br>
    <label>Borough:</label><input name="boro" class="form-control"><br>
    <label>Precinct:</label><input name="precinct" class="form-control"><br>
    <label>Latitude:</label><input name="latitude" class="form-control"><br>
    <label>Longitude:</label><input name="longitude" class="form-control"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
